<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block tittle %} About {% endblock %} </title>
</head>
<body>
    <h3>Tentang Kami</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sunt harum aliquam optio necessitatibus molestiae aliquid distinctio, deleniti, placeat nihil consectetur officia ullam! Nostrum fugit libero, expedita odit porro dicta.</p>
</body>
</html>